/* Global CSS Variables */

:root {
  --font-heading: 'Open Sans', sans-serif;
  --font-body: 'Fira Sans', sans-serif;
  --yellow: #FFD700;
  --black: #161616;
  --shadow: #212121;
  --white: #FFFFFF;
  --salmon: #FF8672;
  --transparent: #FFFFFF00;
}

::-moz-selection { /* Code for Firefox */
  color:inherit;
  background: var(--yellow);
}

::selection {
  color:inherit;
  background: var(--yellow);
}

html {
  box-sizing: border-box;
  /*margin: 1rem;*/
  scrollbar-color: var(--salmon) inherit;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*.component*/

.component {
  padding: 1rem;
  border: 1px solid var(--shadow);
  margin-top: .5rem;
}

.component img {
  max-width: initial;
  }
  
  .component__img {
    border: 2px solid var(--black);
    overflow-x: auto;
    margin-top: .5rem;
    padding: .5rem;
  }
  
  .component__code {
    border: 2px solid var(--black);
    margin-top: 1rem;
    padding: .5rem;
  }

  .component__code--reverse {
    background: var(--black);
  }

  .component-group {
    border: 3px solid var(--shadow);
    margin-top: 2rem;
    padding: 1rem;
  }

/* Typographical Defaults */

body {
  font-family: var(--font-body);
  color: var(--black);
  margin: 0;
}

/*TYPOGRAPHY*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

h1, .cover-section__title {
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  margin: 4rem 30% 2rem 3rem;
}

.cover-section__title--right {
  text-align: right;
}

.outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--transparent);
}

.cover-section__header {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: left
}

.about-section__header {
  text-align: right;
}

.cover-section__subheader {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

/*.page-section*/

.page-section {
  /*border-top: 3px solid var(--salmon);*/
}

.page-section--reverse {
  color: var(--white); 
  background-color: var(--black);
  padding: 15rem;
}

.services-section {
  margin: 10rem;
}

.awards-section {
  margin: 15rem 25rem; 
}

h2, .page-section__header {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  margin: 1rem;
}

h3, .page-section__subheader {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin: 1rem 0;
}

p, .page-section__body {
  font-family: var(--font-body);
  font-size: 19px;
  line-height: 33px;
}

.page-section__body--highlight {
  font-size: 28px;
  line-height: 38px;
}

.page-section__body--center {
  text-align: center;
}

.page-section__list li {
  padding-bottom: 1rem;
  list-style-type: '——';
}

.page-section__list-item {
  font-family: var(--font-heading);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: var(--black);
  padding-left: 1rem;
}

.page-section__img-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 1rem;
}

.img-list__img {
  padding: 2rem;
}

/* Layout Classes */

img {
  max-width: 100%;
  display: block;
}

.centered {
  margin: 0 auto;
}

.align-right {
  float: right;
}

a {
  color: inherit;
  text-decoration: none;
}

.two-column__grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 15%;
}

/*ATOMS*/

/*.main-button*/

.main-button {
  display: block;
}

.main-button__contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  max-width: 350px;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  padding: 1rem;
  color: var(--black);
  border-bottom: 2px solid var(--black);
  margin: 4rem auto;
}

.main-button__icon {
  font-size: 27px;
}

.main-button__contents:hover {
  background: var(--yellow);
}

.main-button__contents--reverse {
  border-bottom: solid var(--white);
  color: var(--white);

}

.main-button__contents--reverse:hover {
  border-bottom: solid var(--black);
  color: var(--black);
}

/*.main-wordmark*/

.main-wordmark {
  font-size: 3rem;
  font-family: var(--font-body);
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.main-wordmark--reverse {
  color: var(--white);
}

/*PAGE HEADER*/

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
}

.main-nav__list-item {
  list-style-type: none;
  padding: 1rem;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 900;
  /*filter: invert(.25);*/
}

.main-nav__list-item:hover {
  text-decoration: underline;
}

.main-nav__icon-list {
  display: flex;
}

.main-nav__icon {
  font-size: 2.5rem;
  padding: 1.25rem;
}

.main-nav__icon:hover {
  color: var(--white);
  background: var(--salmon);
}

.main-nav__icon--search {
  color: var(--black);
  background: var(--white);
}

.main-nav__icon--menu {
  color: var(--white);
  background: var(--black);
}

/*COVER SECTION*/

.cover-section__about {
  margin-top: 4rem;
}

.cover-section__project-gallery {
  margin-top: 15rem;
}

/*.cover-section-hero*/

.cover-section__article--two-column {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 4rem;
  margin: 4rem 20% 1rem 10%;
}

/*.cover-section__gallery*/

.cover-section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin: 1rem 5rem;
}

@media (min-width: 40rem) {
  .cover-section__gallery { 
    grid-template-columns: repeat(2, 1fr);
}

.cover-section__card-number {
  color: var(--yellow);
  /*filter: invert(.2), opacity(50);*/
  margin: 0;
  padding: 0;
  position: relative;
  top: 2rem;
  left: 2rem;
  text-align: left;
  font-size: 4rem;
}

.cover-section__card-title {
  text-align: left;
  text-transform: none;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 1rem;
}

/*.cover-section__list*/

.cover-section__list {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10rem 5%;
}

.cover-section__list-text {
  position: absolute;
  right: 25%;
  top: 15%;
}

.cover-section__list-text li {
  padding: 0;
  list-style-type: none;
  padding-bottom: 1.5rem;
}

.cover-section__list-item {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 70px;
  line-height: 73px;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: var(--transparent);
}

.cover-section__list-item:hover {
  -webkit-text-fill-color: var(--yellow);
  -webkit-text-stroke: 0px;
}

.cover-section__list-img {
  position: relative;
  left: 40%;
}

.cover-section__button {
  position: relative;
  bottom: 15rem;
  left: 4rem;
}


/*PAGE FOOTER*/

.page-footer {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 position: relative;
}

.footer-nav {
 margin: 30%;
}

.footer-nav__list {
  list-style-type: none;
  position: absolute;
  bottom: 0%;
}

.footer-nav__list-item {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-nav__list-item:hover {
  text-decoration: underline;
}

.page-footer__contact {
  background: var(--black);
  color: var(--white);
  padding: 2rem;
}

.page-footer__header {
  font-size: 24px;
  margin-top: 2rem;
}

.page-footer__email {
  font-size: 32px;
  line-height: 42px;
  text-decoration: underline;
  margin-top: .5rem;
}

.page-footer__email:hover{
  color: var(--yellow);
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  bottom: 0%;
}

.page-footer__social-media {
  background: var(--black);
  color: var(--white);
  padding: 25% 30%;
}

.footer-social__header {
  text-align: right;
  text-transform: none;
  font-size: 1.25rem;
  font-family: var(--font-body);
  font-weight: 400;
  margin: 0;
}

.page-footer__icon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.page-footer__social-icon {
  font-size: 1.5rem;
  padding: 0px;
}

.page-footer__social-icon:hover {
  color: var(--yellow);
}

