:root {
  --font-sans-serif-1: 'Open Sans', sans-serif;
  --font-sans-serif-2: 'Fira Sans', sans-serif;
  --yellow: #FFD700;
  --black: #161616;
  --shadow: #212121;
  --white: #FFFFFF;
  --salmon: #FF8672;


}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif-2);
  color: var(--black);
}

p {
  font-family: var(--font-sans-serif-2);
  font-size: 1.25rem;
  line-height: 1.75;
  max-width: 585px;
}

.centered {
  text-align: center;
  max-width: 750px;
}