<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Components | lab21 </title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet"/>
</head>

<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">

        <h3 class="component__title">Headings</h3>
    
        <h4 class="component__subtitle">h1</h4>
    
        <div class="component__img">
        <img
            srcset="img/cover-section/cover-section__title.png 2x"
            src="img/cover-section/cover-section__title.png"
            alt="lef-aligned cover section title">
        </div>
    
        <div class="component__code">
            <h1 class="cover-section__title cover-section__title">Web Development <br> Studio</h1>
        </div>

        <div class="component__img">
            <img
                srcset="img/cover-section/cover-section__title--right.png 2x"
                src="img/cover-section/cover-section__title--right.png"
                alt="right-aligned cover section title">
            </div>
        
            <div class="component__code">
                <h1 class="cover-section__title cover-section__title--right">Selected <br> <span class="outline">Work</span></h1>
            </div>
    
        <h4 class="component__subtitle">h2</h4>
        
        <div class="component__img">
        <img 
            srcset="img/cover-section/cover-section__header1.png 2x"
            src="img/cover-section/cover-section__header1.png" alt="centered body copy">
        </div>
    
        <div class="component__code">
            <h2 class="cover-section__header1">Crafting Digital Experiences All Around the Globe</h2>    
        </div> 
    
    </article>
    <!--END OF HEADERS-->

    <article class="component">

    <h3 class="component__title">Body Copy</h3>

    <h4 class="component__subtitle">Left-Aligned</h4>

    <div class="component__img">
    <img
        srcset="img/cover-section/cover-section__body.png 2x"
        src="img/cover-section/cover-section__body.png"
        alt="left-aligned body copy">
    </div>

    <div class="component__code">
        <p class="page-section__body">Lab21 is an independent web development studio based in Athens, Greece with worldwide projects. We specialize in UX driven websites, e-shops, portals, blogs and all aspects of web development.</p>
    </div>

    <h4 class="component__subtitle">Centered</h4>
    
    <div class="component__img">
    <img 
        srcset="img/page-section/page-section__body--center.png 2x"
        src="img/page-section/page-section__body--center.png" alt="centered body copy">
    </div>

    <div class="component__code">
        <p class="page-section__body--center">We care about our projects. Every project we make is hand crafted. We make sure our clients get the best results: fast, optimized websites with attention to detail and meaningful interactions.</p>

        <p class="page-section__body--center">Our hard work gets recognized. We get satisfied clients and as an added bonus, our projects get distinctions in various international & Greek awards.</p>      
    </div> 

    </article>
    <!--END OF BODY-->

</body>

</html>