<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Components | lab21 </title>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
        <link href="font-awesome/css/all.css" rel="stylesheet">
        <link href="../css/normalize.css" rel="stylesheet"/>
        <link href="../css/main.css" rel="stylesheet"/>
    </head>

    <body>

        <header>
            <h1>Web Components</h1>
        </header>

        <main>

            <article class="page-section page-section__typography">
            
                <h2>Typography</h2>
            
                <div class="component-group component-group__body-copy">
                
                <h3 class="component-group__header">Body Copy</h3>
            
                <section class="component">
            
                    <h4 class="component__title">Left-Aligned</h4>
            
                    <div class="component__img">
                        <img srcset="img/cover-section/cover-section__body.png 2x" src="img/cover-section/cover-section__body.png"
                            alt="left-aligned body copy">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <p class="page-section__body">Lab21 is an independent web development studio based in Athens, Greece with
                            worldwide projects. We specialize in UX driven websites, e-shops, portals, blogs and all aspects of web
                            development.</p>
                    </div>
                    <!--.component__code-->
            
                </section>
                <!--.page-section__body-->

                <section class="component">
            
                    <h4 class="component__title">Highlight</h4>
            
                    <div class="component__img">
                        <img 
                        srcset="img/cover-section/cover-section__body--highlight.png 2x"
                        src="img/cover-section/cover-section__body--highlight.png"
                        alt="highlighted body copy">
                    </div>
                    <!--.component__img-->
            
                        <div class="component__code">
                            <p class="page-section__body--highlight">We are experts in crafting websites that drive results, tailored to your business and project needs.</p>  
                        </div>
                        <!--.component__code-->
            
                </section>
                <!--.page-section__body--highlight-->
            
                <section class="component">
            
                    <h4 class="component__title">Centered</h4>
            
                    <div class="component__img">
                        <img class="centered"
                        srcset="img/page-section/page-section__body--center.png 2x"
                        src="img/page-section/page-section__body--center.png"
                        alt="centered body copy">
                    </div>
                    <!--.component__img-->
            
                        <div class="component__code">
                            <p class="page-section__body--center">We care about our projects. Every project we make is hand crafted. We make sure our clients get the best results: fast, optimized websites with attention to detail and meaningful interactions.</p>

                            <p class="page-section__body--center">Our hard work gets recognized. We get satisfied clients and as an added bonus, our projects get distinctions in various international & Greek awards.</p>   
                        </div>
                        <!--.component__code-->
            
                </section>
                <!--.page-section__body--center-->

                <section class="component">
            
                    <h4 class="component__title">Reverse</h4>
            
                    <div class="component__img">
                        <img class="centered"
                        srcset="img/page-section/page-section__body--reverse.png 2x"
                        src="img/page-section/page-section__body--reverse.png"
                        alt="centered body copy">
                    </div>
                    <!--.component__img-->
            
                        <div class="component__code component__code--reverse">
                            
                            <p class=
                            "page-section__body--highlight
                            page-section__body--center page-section__body--reverse">
                            Looking for a serious web developer to collaborate?
                            Want to create your website?</p>   
                        
                        </div>
                        <!--.component__code-->
            
                </section>
                <!--.page-section__body--reverse-->

                </div>
                <!--END OF BODY COPY-->

                <div class="component-group component-group__cover-section-headers">
                
                <h3 class="component-group__header">Cover Section Headers</h3>

                <section class="component">
            
                    <h4 class="component__title">Cover Section Title</h4>
            
                    <div class="component__img">
                        <img             
                        srcset="img/cover-section/cover-section__title.png 2x"
                        src="img/cover-section/cover-section__title.png"
                        alt="left-aligned cover section title">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h1 class="cover-section__title">Web Development <br> Studio</h1>
                    </div>
                    <!--.component__code-->

                </section>
                <!--.cover-section__title-->

                <section class="component">
            
                    <h4 class="component__title">Cover Section Title (Right)</h4>
            
                    <div class="component__img">
                        <img class="align-right"
                        srcset="img/cover-section/cover-section__title--right.png 2x"
                        src="img/cover-section/cover-section__title--right.png"
                        alt="right-aligned cover section title">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h1 class="cover-section__title cover-section__title--right">Selected <br> <span class="outline">Work</span></h1>
                    </div>
                    <!--.component__code-->

                </section>
                <!--.cover-section__title--right-->

                <section class="component">
            
                    <h4 class="component__title">Cover Section Header</h4>
            
                    <div class="component__img">
                        <img 
                        srcset="img/cover-section/cover-section__header.png 2x"
                        src="img/cover-section/cover-section__header.png"
                        alt="cover section header">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h2 class="cover-section__header">Crafting Digital Experiences All Around the Globe</h2>    
                    </div>
                    <!--.component__code-->

                </section>
                <!--.cover-section__header-->

                <section class="component">
            
                    <h4 class="component__title">Cover Section Subheader</h4>
            
                    <div class="component__img">
                        <img class="centered"
                        srcset="img/cover-section/cover-section__subheader.png 2x"
                        src="img/cover-section/cover-section__subheader.png"
                        alt="cover section subheader">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h3 class="cover-section__subheader">We provide creative solutions to turn your ideas into a digital reality</h3>    
                    </div>
                    <!--.component__code-->

                </section>
                <!--.cover-section__subheader-->

                </div>
                <!--END OF COVER SECTION HEADERS-->

                <div class="component-group component-group__page-section-headers">

                <h3>Page Section Headers</h3>

                <section class="component">
            
                    <h4 class="component__title">Page Section Header</h4>
            
                    <div class="component__img">
                        <img class="centered"          
                        srcset="img/page-section/page-section__header.png 2x"
                        src="img/page-section/page-section__header.png"
                        alt="page section header">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h2 class="page-section__header">Services</h2>
                    </div>
                    <!--.component__code-->

                </section>
                <!--.page-section__header-->

                <section class="component">
            
                    <h4 class="component__title">Page Section Subeader</h4>
            
                    <div class="component__img">
                        <img class="centered"             
                        srcset="img/page-section/page-section__subheader.png 2x"
                        src="img/page-section/page-section__subheader.png"
                        alt="page section subheader">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">
                        <h3 class="page-section__subheader">What We Can Do For You</h3>    
                    </div>
                    <!--.component__code-->

                </section>
                <!--.page-section__subheader-->

                <section class="component">
            
                    <h4 class="component__title">Page Section Header (Reverse)</h4>
            
                    <div class="component__img">
                        <img class="centered"             
                        srcset="img/page-section/page-section__header--reverse.png 2x"
                        src="img/page-section/page-section__header--reverse.png"
                        alt="page section header (reverse)">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code component__code--reverse">
                        
                        <h2 class="page-section__header page-section__header--reverse">Have A Project In Mind?</h2>    
                    
                    </div>
                    <!--.component__code-->

                </section>
                <!--.page-section__header--reverse-->

                </div>
                <!--END OF PAGE SECTION HEADERS-->
        
            </article>
            <!--END OF TYPOGRAPHY-->

            <article class="page-section page-section__atoms">

                <h2>Atoms</h2>

                <div class="component-group component-group__buttons">

                    <h3 class="component-group__header">Buttons</h3>

                    <section class="component">
            
                        <h4 class="component__title">Main Button</h4>
                
                        <div class="component__img">
                            <img
                            srcset="img/button/button.png 2x"
                            src="img/button/button.png"
                            alt="main button">
                        </div>
                        <!--.component__img-->

                        <div class="component__img">
                            <img
                            srcset="img/button/button--active.png 2x"
                            src="img/button/button--active.png.png"
                            alt="main button">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">
                        
                            <div class="main-button">
                            
                                <a href="#!">
                                <ul class="main-button__contents">
                                    <li class="main-button__text">Tell us about your project</li>
                                    <li><i class="fas fa-chevron-right main-button__icon"></i></li>
                                </ul>
                            </a>

                            </div>

                        </div>
                        <!--.component__code-->
                
                    </section>
                    <!--.main-button-->

                    <section class="component">
            
                        <h4 class="component__title">Main Button (Reverse)</h4>
                
                        <div class="component__img">
                            <img
                            srcset="img/button/button--reverse.png 2x"
                            src="img/button/button--reverse.png"
                            alt="main button">
                        </div>
                        <!--.component__img-->

                        <div class="component__img">
                            <img
                            srcset="img/button/button--reverse-active.png 2x"
                            src="img/button/button--reverse-active.png.png"
                            alt="main button">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code component__code--reverse">
                            
                            <a href="#!" class="main-button main-button--reverse">

                                <ul class="main-button__contents main-button__contents--reverse">
                                    <li class="main-button__text main-button__text--reverse">Tell us about your project</li>
                                    <li><i class="fas fa-chevron-right main-button__icon main-button__icon--reverse"></i></li>
                                </ul>
                                
                            </a>

                        </div>
                        <!--.component__code-->
                
                    </section>
                    <!--.main-button--reverse-->

                </div>
                <!--END OF BUTTONS-->

                <div class="component-group component-group__wordmark">

                    <h3 class="component-group__header">Wordmarks</h3>

                    <section class="component">
            
                        <h4 class="component__title">Main Wordmark</h4>

                        <div class="component__img">
                            <img
                            srcset="img/page-header/main-wordmark.png 2x"
                            src="img/page-header/main-wordmark.png"
                            alt="main wordmark">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">
                        
                            <a href="#!" class="main-wordmark">&lt;lab21&sol;&gt;</a>
        
                        </div>
                        <!--.component__code-->
                
                    </section>
                    <!--.main-wordmark-->

                    <section class="component">
            
                        <h4 class="component__title">Main Wordmark (Reverse)</h4>

                        <div class="component__img">
                            <img
                            srcset="img/page-footer/main-wordmark--reverse.png 2x"
                            src="img/page-footer/main-wordmark--reverse.png"
                            alt="main wordmark (reverse)">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code component__code--reverse">
                        
                            <a href="#!" class="main-wordmark main-wordmark--reverse">&lt;lab21&sol;&gt;</a>
        
                        </div>
                        <!--.component__code-->
                
                    </section>
                    <!--.main-wordmark-->


                </div>
                <!--END OF WORDMARK-->

            </article>
            <!--END OF ATOMS-->

            <article class="page-section page-section__page-header">

                <h2>Page Header</h2>

                <section class="component">

                    <div class="component__img">
                        <img
                        srcset="img/page-header/page-header.png 2.125x"
                        src="img/page-header/page-header.png"
                        alt="page header">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">

                        <header class="page-header">

                            <a href="#!" class="main-wordmark">&lt;lab21&sol;&gt;</a>
                
                            <div class="main-nav">
                            
                                <ul class="main-nav__list">
                                    <li class="main-nav__list-item">Work</li>
                                    <li class="main-nav__list-item">Contact</li>
                                </ul>

                                <div class="main-nav__icon-list">
                                <i class=
                                    "fas fa-search
                                    main-nav__icon
                                    main-nav__icon--search"></i>
                                <i class=
                                    "fas fa-bars
                                    main-nav__icon
                                    main-nav__icon--menu"></i>
                                </div>
                                <!--.main-nav__icons-->

                            </div>
                            <!--.main-nav-->

                        </header>

                    </div>
                    <!--.component__code-->
            
                </section>
                <!--.main-wordmark-->

            </article>
            <!--END OF PAGE HEADER-->

            <article class="page-section page-section__cover-sections">

                <h2>Cover Sections</h2>

                <div class="component-group component-group__cover-section-hero">

                    <h3 class="component-group__header">Cover Section Hero</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset="img/cover-section/cover-section__hero.png 2.25x"
                            src="img/cover-section/cover-section__hero.png"
                            alt="cover section hero">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">



                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF COVER SECTION HERO-->

                <div class="component-group component-group__cover-section-article">

                    <h3 class="component-group__header">Cover Section Article</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset="img/cover-section/cover-section__article.png 1.75x"
                            src="img/cover-section/cover-section__article.png"
                            alt="cover section article">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">



                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF COVER SECTION ARTICLE-->

                <div class="component-group component-group__cover-section-gallery">

                    <h3 class="component-group__header">Cover Section Gallery</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset=""
                            src="img/cover-section/cover-section__gallery/cover-section__gallery.png"
                            alt="cover section gallery">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">



                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF COVER SECTION GALLERY-->

                <div class="component-group component-group__cover-section-list">

                    <h3 class="component-group__header">Cover Section List</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset="img/cover-section/cover-section__list/cover-section__list.png 1.5x"
                            src="img/cover-section/cover-section__list/cover-section__list.png"
                            alt="cover section list">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">

                            <ul class="cover-section__list">
                                <li><a class="cover-section__list-item" href="#!">5 / Carpe Diem Hotel</a></li>
                                <li><a class="cover-section__list-item" href="#!">6 / Map Hotel</a></li>
                                <li><a class="cover-section__list-item" href="#!">7 / Alekos Fassianos</a></li>
                                <li><a class="cover-section__list-item" href="#!">8 / Nastasia Village Hotel</a></li>
                                <li><a class="cover-section__list-item" href="#!">9 / Archisearch</a></li>
                                <li><a class="cover-section__list-item" href="#!">10 / T-Oinos Winery</a></li>
                            </ul>

                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF COVER SECTION LIST-->

            </article>
            <!--END OF COVER SECTIONS-->

            <article class="page-section page-section__page-sections">

                <h2>Page Sections</h2>

                <div class="component-group component-group__page-section-center">

                    <h3 class="component-group__header">Page Section Centered</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset="img/page-section/page-section--center.png 1.5x"
                            src="img/page-section/page-section--center.png"
                            alt="page section centered">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">



                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF PAGE SECTION CENTERED-->

                <div class="component-group component-group__page-section-two-column">

                    <h3 class="component-group__header">Page Section Two-Column</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset="img/page-section/page-section--two-column.png 1.25x"
                            src="img/page-section/page-section--two-column.png"
                            alt="page section two-column">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code">
                            
                            <ul class="page-section__list">
                                <li><a class="page-section__list-item" href="#!">Website Development</a></li>
                                <li><a class="page-section__list-item" href="#!">Front-end Development</a></li>
                                <li><a class="page-section__list-item" href="#!">Wordpress Development</a></li>
                                <li><a class="page-section__list-item" href="#!">UI/ UX</a></li>
                                <li><a class="page-section__list-item" href="#!">Blogs</a></li>
                                <li><a class="page-section__list-item" href="#!">Portals</a></li>
                                <li><a class="page-section__list-item" href="#!">Responsive Design</a></li>
                                <li><a class="page-section__list-item" href="#!">E-Commerce</a></li>
                                <li><a class="page-section__list-item" href="#!">Landing Pages</a></li>
                                <li><a class="page-section__list-item" href="#!">Web-Based Applications</a></li>
                                <li><a class="page-section__list-item" href="#!">Newsletters</a></li>
                                <li><a class="page-section__list-item" href="#!">Data Entry</a></li>
                                <li><a class="page-section__list-item" href="#!">Ongoing Support</a></li>
                            </ul>

                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF PAGE SECTION TWO-COLUMN-->

                <div class="component-group component-group__page-section-reverse">

                    <h3 class="component-group__header">Page Section Reverse</h3>

                    <section class="component">
                
                        <div class="component__img">
                            <img class="centered"
                            srcset=""
                            src="img/page-section/page-section--reverse.png"
                            alt="page section reverse">
                        </div>
                        <!--.component__img-->
                
                        <div class="component__code component__code--reverse">

                            <h2 class="page-section__header page-section__header--reverse">Have A Project In Mind?</h2>  

                            <p class=
                            "page-section__body--highlight
                            page-section__body--center page-section__body--reverse">
                            Looking for a serious web developer to collaborate? <br>
                            Want to create your website?</p>
                            
                            <p class=
                            "page-section__body--highlight
                            page-section__body--center page-section__body--reverse">
                            No matter how big or small <br>
                            we have a solution for you </p>  
                            
                            <div class="page-section__button main-button main-button--reverse">
                            
                                <a href="#!">
                                <ul class="main-button__contents main-button__contents--reverse">
                                    <li class="main-button__text main-button__test--reverse">Tell us about your project</li>
                                    <li><i class="fas fa-chevron-right main-button__icon"></i></li>
                                </ul>
                            </a>

                            </div>

                        </div>
                        <!--.component__code-->
                
                    </section>

                </div>
                <!--END OF PAGE SECTION REVERSE-->

            </article>
            <!--END OF PAGE SECTIONS-->

            <article class="page-section page-section__page-footer">

                <h2>Page Footer</h2>

                <section class="component">

                    <div class="component__img">
                        <img
                        srcset="img/page-footer/page-footer.png 2.125x"
                        src="img/page-footer/page-footer.png"
                        alt="page footer">
                    </div>
                    <!--.component__img-->
            
                    <div class="component__code">

                        <footer class="page-footer">
                        
                            <div class="footer-nav">
                        
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__list-item">Terms &amp; Conditions</li>
                                    <li class="footer-nav__list-item">Privacy Policy</li>
                                    <li class="footer-nav__list-item">Sitemap</li>
                                </ul>
                        
                            </div>
                            <!--.footer__nav-->
                        
                            <div class="page-footer__contact">
                        
                                <a href="#!" class="main-wordmark main-wordmark--reverse">&lt;lab21&sol;&gt;</a>
                        
                                <p>Contact</p>
                        
                                <p><a href="#!">info@lab21.gr</a></p>
                        
                                <p>Designed &amp; Developed by Lab21 &copy; 2019-2020. All rights reserved.</p>
                        
                            </div>
                            <!--.page-footer__contact-->
                        
                        
                            <div class="page-footer__social-media">
                        
                                <h6 class="footer-social__header">Social media</h6>
                        
                                <ul class="page-footer__icon-list">
                                    <li><i class="fab fa-twitter footer-social__icon"></i></li>
                                    <li><i class="fab fa-linkedin-in footer-social__icon"></i></li>
                                    <li><i class="fab fa-behance footer-social__icon"></i></li>
                                    <li><i class="fab fa-codepen footer-social__icon"></i></li>
                                </ul>
                        
                            </div>
                            <!--.page-footer__social-media-->

                        </footer>

                    </div>
                    <!--.component__code-->
            
                </section>
                <!--.main-wordmark-->
            </article>
            <!--END OF PAGE FOOTER-->

        </main>
    </body>
</html>