<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Components | lab21 </title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet"/>
</head>

<body>

    <header>
        <h1>Web Components</h1>
    </header>

    <main>

        <!--<section class="component">
                        
                    <h4 class="component__title">Left-Aligned</h4>
                
                    <div class="component__img">
                        <img
                        srcset=" 2x"
                        src=""
                        alt="">
                    </div> <!-.component__img->
        
                    <div class="component__code">
        
                    </div> <!-.component__img->
                
                </section> -->


        <article class="page-section page-section__typography">
        
            <h2>Typography</h2>
        
            <h3 class="component-group component-group__body-copy">Body Copy</h3>
        
            <section class="component">
        
                <h4 class="component__title">Left-Aligned</h4>
        
                <div class="component__img">
                    <img srcset="img/cover-section/cover-section__body.png 2x" src="img/cover-section/cover-section__body.png"
                        alt="left-aligned body copy">
                </div>
                <!--.component__img-->
        
                <div class="component__code">
                    <p class="page-section__body">Lab21 is an independent web development studio based in Athens, Greece with
                        worldwide projects. We specialize in UX driven websites, e-shops, portals, blogs and all aspects of web
                        development.</p>
                </div>
                <!--.component__code-->
        
            </section>
            <!--.page-section__body-->

            <section class="component">
        
                <h4 class="component__title">Highlight</h4>
        
                <div class="component__img">
                    <img 
                    srcset="img/cover-section/cover-section__body--highlight.png 2x"
                    src="img/cover-section/cover-section__body--highlight.png"
                    alt="highlighted body copy">
                </div>
                <!--.component__img-->
        
                    <div class="component__code">
                        <p class="page-section__body--highlight">We are experts in crafting websites that drive results, tailored to your business and project needs.</p>  
                    </div>
                    <!--.component__img-->
        
            </section>
            <!--.page-section__body--highlight-->
        
            <section class="component">
        
                <h4 class="component__title">Centered</h4>
        
                <div class="component__img">
                    <img 
                    srcset="img/page-section/page-section__body--center.png 2x"
                    src="img/page-section/page-section__body--center.png" alt="centered body copy">
                </div>
                <!--.component__img-->
        
                    <div class="component__code">
                        <p class="page-section__body--center">We care about our projects. Every project we make is hand crafted. We make sure our clients get the best results: fast, optimized websites with attention to detail and meaningful interactions.</p>

                        <p class="page-section__body--center">Our hard work gets recognized. We get satisfied clients and as an added bonus, our projects get distinctions in various international & Greek awards.</p>   
                    </div>
                    <!--.component__img-->
        
            </section>
            <!--.page-section__body--center-->

            <section class="component">
        
                <h4 class="component__title">Reverse</h4>
        
                <div class="component__img">
                    <img 
                    srcset="img/page-section/page-section__body--reverse.png 2x"
                    src="img/page-section/page-section__body--reverse.png" alt="centered body copy">
                </div>
                <!--.component__img-->
        
                    <div class="component__code">
                        <p class=
                        "page-section__body--highlight
                        page-section__body--center page-section__body--reverse">
                        Looking for a serious web developer to collaborate?
                        Want to create your website?</p>   
                    </div>
                    <!--.component__code-->
        
            </section>
            <!--.page-section__body--reverse-->

        </article>
        <!--.typography-section-->







    <article class="component">

        <h3 class="component__title">Headings</h3>
    
        <h4 class="component__subtitle">Cover Section Title</h4>
    
        <div class="component__img">
        <img
            srcset="img/cover-section/cover-section__title.png 2x"
            src="img/cover-section/cover-section__title.png"
            alt="left-aligned cover section title">
        </div>
    
        <div class="component__code">
            <h1 class="cover-section__title">Web Development <br> Studio</h1>
        </div>

        <div class="component__img">
            <img
                srcset="img/cover-section/cover-section__title--right.png 2x"
                src="img/cover-section/cover-section__title--right.png"
                alt="right-aligned cover section title">
            </div>
        
            <div class="component__code">
                <h1 class="cover-section__title cover-section__title--right">Selected <br> <span class="outline">Work</span></h1>
            </div>
    
        <h4 class="component__subtitle">Cover Section Header</h4>
        
        <div class="component__img">
        <img 
            srcset="img/cover-section/cover-section__header.png 2x"
            src="img/cover-section/cover-section__header.png" alt="cover section header">
        </div>
    
        <div class="component__code">
            <h2 class="cover-section__header">Crafting Digital Experiences All Around the Globe</h2>    
        </div>

        <h4 class="component__subtitle">Cover Section Subheader</h4>
        
        <div class="component__img">
        <img 
            srcset="img/cover-section/cover-section__subheader.png 2x"
            src="img/cover-section/cover-section__subheader.png" alt="cover section subheader">
        </div>
    
        <div class="component__code">
            <h3 class="cover-section__subheader">We provide creative solutions to turn your ideas into a digital reality</h3>    
        </div>

        <h4 class="component__subtitle">Page Section Header</h4>
        
        <div class="component__img">
        <img 
            srcset="img/page-section/page-section__header.png 2x"
            src="img/page-section/page-section__header.png" alt="page section header">
        </div>
    
        <div class="component__code">
            <h2 class="page-section__header">Services</h2>    
        </div>

        <h4 class="component__subtitle">Page Section Subheader</h4>
        
        <div class="component__img">
        <img 
            srcset="img/page-section/page-section__subheader.png 2x"
            src="img/page-section/page-section__subheader.png" alt="page section subheader">
        </div>
    
        <div class="component__code">
            <h3 class="page-section__subheader">What We Can Do For You</h3>    
        </div>

        <h4 class="component__subtitle">Page Section Header (Reverse)</h4>
        
        <div class="component__img">
        <img 
            srcset="img/page-section/page-section__header--reverse.png 2x"
            src="img/page-section/page-section__header--reverse.png" alt="page section header (reverse)">
        </div>
    
        <div class="component__code">
            <h2 class="page-section__header--reverse">Have A Project In Mind?</h2>    
        </div>
    
    </article>
    <!--END OF HEADERS-->

    <article class="component">

        <h3 class="component__title">Lists</h3>
    
        <h4 class="component__subtitle">Cover Section List Item</h4>
    
        <div class="component__img">
        <img
            srcset="img/cover-section/cover-section__list/cover-section__list-item.png 2x"
            src="img/cover-section/cover-section__list/cover-section__list-item.png"
            alt="cover section list item">
        </div>
    
        <div class="component__code">
            <ul class="cover-section__list">
                <li><a href="#!">5 / Carpe Diem Hotel</a></li>
            </ul>
        </div>

        <h4 class="component__subtitle">Cover Section List Item (Active)</h4>
    
        <div class="component__img">
        <img
            srcset="img/cover-section/cover-section__list/cover-section__list-item--active.png 2x"
            src="img/cover-section/cover-section__list/cover-section__list-item--active.png"
            alt="active cover section list item">
        </div>
    
        <div class="component__code">
            <ul class="cover-section__list">
                <li class="cover-section__list-item--active"><a href="#!">5 / Carpe Diem Hotel</a></li>
            </ul>
        </div>
    </article>

    <article class="component">

        <h3 class="component__title">Buttons</h3>
    
        <h4 class="component__subtitle">Main Button</h4>
    
        <div class="component__img">
        <img
            srcset="img/button/button.png 2x"
            src="img/button/button.png"
            alt="main button">
        </div>
    
        <div class="component__code">
            <div class="main-button">
                
                <a href="#!" class="main-button__text">Tell us about your project</a>

                <img src="icons/arrows/svg/055-right-2.svg" class="main-button__icon">

            </div>
        </div>

            <h4 class="component__subtitle">Main Button</h4>
    
        <div class="component__img">
        <img
            srcset="img/button/button--active.png 2x"
            src="img/button/button--active.png.png"
            alt="main button">
        </div>
    
        <div class="component__code">
            <div class="main-button main-button--active">
                
                <a href="#!" class="main-button__text main-button__text--active">Tell us about your project</a>

                <img src="icons/arrows/svg/055-right-2.svg" class="main-button__icon main-button__icon--active">

            </div>

        </div>

        </article>
    </main>
</body>

</html>